*, *::after, *::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    overflow: hidden;
    background: url('/img/bkg.jpg') bottom no-repeat;
    background-color: #349aff;
}

.title {
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    flex-direction: column;
}

.subtitle {
    margin-top: .5rem;
}

.hide {
    display: none;
}

.bird {
    
    background-image: url('/img/bird.png');
    background-position: center;
    background-size: 140%;
    --bird-top: 0;
    --bird-size: 80px;
    position: absolute;
    width: var(--bird-size);
    height: var(--bird-size);
    left: var(--bird-size);
    top: calc(var(--bird-top) * 1px);
    /* border-radius: 50%; */
    /* border: 2px solid rgb(0, 0, 0); */
    /* background-color: hsl(50, 75%, 50%); */
}

.pipe {
    /* --pipe-width: 120;
    --pipe-left: 100;
    --hole-top: 500;
    --hole-height: 120; */
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(var(--pipe-width) * 1px);
    left: calc(var(--pipe-left) * 1px);
}

.pipe > .segment {
    position: absolute;
    width: 100%;
    background-color: hsl(100, 75%, 50%);
    border-radius: 5px;
}

.pipe > .top {
    top: 0;
    bottom: calc(var(--hole-top) * 1px);
}

.pipe > .bottom {
    bottom: 0;
    top: calc(100vh - (var(--hole-top) * 1px) + calc(var(--hole-height) * 1px));
}